<h1>{{ title }}</h1>
<button (click)="switchView()">{{ switchButton }}</button>
<app-add-form (addTask)="onCreateTask($event)"></app-add-form>
<ng-container *ngIf="flagVisible; then showTasks; else showDoneTasks">
</ng-container>
<ng-template #showTasks>
  <app-tasks-list
    [taskList]="taskList"
    (clearTask)="clearTask($event)"
    (doneTask)="doneTask($event)"
  ></app-tasks-list>
</ng-template>
<ng-template #showDoneTasks>
  <app-canceled-tasks-list
    [clearedTaskList]="clearedTaskList"
  ></app-canceled-tasks-list>
</ng-template>
