<h1>{{ title }}</h1>

<section class="addingWrapper">
  <form class="form">
    <label
      >task:
      <input
        type="text"
        class="taskName"
        [(ngModel)]="taskName"
        name="taskName"
      />
    </label>
    <label
      >date:
      <input
        type="date"
        class="taskDate"
        [(ngModel)]="taskDate"
        name="taskDate"
      />
    </label>
    <input type="button" value="add" (click)="createTask()" />
  </form>
</section>

<section class="tasksWrapper">
  <ul class="taskList" *ngFor="let task of taskList">
    <li class="taskElement">
      {{ task.name }} - {{ task.date }}
      <button (click)="clearTask(task)">Remove</button>
      <button (click)="doneTask(task)">Done</button>
    </li>
  </ul>
</section>
